<div class="help"><h1>About Us</h1>
<p>Why you should buy a Herman Miller Aeron from us.</p>
</div>
<br>
<br>
<br>
<div class="about">
<div class="pageContainer">
<br>
<br>
<h3>All of our chairs are fully loaded</h3>
<br>
<br>
<h3>We offer free shipping on all orders</h3>
<br>
<br>
<h3>We offer a free one year warrenty on all orders</h3>
<br>
<br>
<h3>We ship overseas</h3>
<br>
<br>
<h3>All of our chairs have been inspected and tested</h3>
<br>
<br>
<h3 class="shopnow", onclick="location.href='/';">Shop now!</h3>
</div>
</div>