<div class="help"><h1>Choosing the right Aeron chair for you</h1>
<p>When it comes to choosing the right Herman Miller Aeron chair to purchase, we can help</p>
</div>
<div class="size">
<%= image_tag("size.png", :alt => "Size_chart", width: "38%") %>
<h2 class="right">Decide what size chair you will fit in. Please refer to the chart on the left to make your decision.</h2>
</div>