<%= image_tag("purp.png", :alt => "Purple_Aeron", width: "38%", align: "right") %>
<div class="container" onclick="location.href='/';">
    <h1>Herman Miller Aeron Chairs</h1>
    <h3>Shop now</h3>
</div>