// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset{
    border-radius:10px;
    width:30%;
    vertical-align:middle;
    position:absolute;
    left:33.3%;
    top:33.3%;
}